<header>
	<div class="overlay">
    <div class="title-header" >
        <h1>Expertise immobilière</h1>
    </div>   
<h3>Géoportail</h3>
<p>Une expertise immobilière est une action nécessaire et très importante pour déterminer avec exactitude la valeur vénale d’un bien immobilier</p>
	<br>
	<button><a routerLink="/Login" style="text-decoration: none; color: beige;">Start Now</a></button>
		</div>
</header>

<div class="header">
    <h1>Comportant les études technique, économique, fiscale et juridique</h1>
    <h1>Elaboré par un expert immobilier connu</h1>

    <p> le rapport formel et officiel qui synthétise tous 
      les éléments techniques et/ou économiques d’un bien immobilier</p>
  </div>
  <div class="row1-container">
    <div class="box box-down cyan">
      <h2>Localisation</h2>
      <p>Monitors activity to identify project roadblocks</p>
      <img src="https://assets.codepen.io/2301174/icon-supervisor.svg" alt="">
    </div>

    <div class="box red">
      <h2>Caractéristiques</h2>
      <p>Scans our talent network to create the optimal team for your project</p>
      <img src="https://assets.codepen.io/2301174/icon-team-builder.svg" alt="">
    </div>

    <div class="box box-down blue">
      <h2>Estimation</h2>
      <p>Uses data from past projects to provide better delivery estimates</p>
      <img src="https://assets.codepen.io/2301174/icon-calculator.svg" alt="">
    </div>
  </div>
  <div class="row2-container">
    <div class="box orange">
      <h2>Revenu</h2>
      <p>Regularly evaluates our talent to ensure quality</p>
      <img src="https://assets.codepen.io/2301174/icon-karma.svg" alt="">
    </div>
  </div>
  